<section id="content">
  <section id="dash_buttons">
    <ul>
      <% @beds.each do |bed| %>
        <% number = bed.bed_number %>
    	  <li id="_<%= number %>" data-bed-loading="0">
    		  <%= link_to("#", "data-bed" => number, "data-maxtime" => bed.max_time) do %>
    		    <span><%= number %></span>
    		    <span class="countdown"></span>
    		    <span class="bed_loading"></span>
    		    <span class="level_and_status" data-bed-level="<%= bed.level %>">Level <%= bed.level %></span>
    		  <% end %>
    	  </li>
    	<% end %>
    </ul>
  </section>
  <section id="dash_controls">
    <section id="dash_bed_controls">
      <div id="dash_controls_wrapper">
        <%= form_for([@current_salon, @tan_session]) do |f|%>
          <%= f.hidden_field(:bed_id) %>
          <%= f.hidden_field(:customer_id) %>
          <div id="dash_minutes">
            <a id="dash_up_arrow" href="#"></a>
            <p>
              <%= f.text_field(:minutes, :size => 2, :maxlength => 2, :value => 15) %>
            </p>
            <a id="dash_down_arrow" href="#"></a>
          </div>
          <div id="dash_start">
            <h2>
              Room
              <span></span>
            </h2>
            <form>
              <input id="reset" type="image" src="/images/reset_button.png" name="reset" width="92" height="38" alt="reset button" />
              <p id="delay">Delay</p>
              <%= f.text_field(:delay, :size => 1, :maxlength => 1, :value => 3)%>
              <input id="start_admin" type="image" src="/images/start_button_admin.png" name="reset" width="239" height="73" alt="start button" />
            </form>
          </div>
        <% end %>
      </div>
      <p id="please">Please Select a Bed</p>
      <p id="post_active">Bed 15 Will Activate in 6 Minutes</p>
    </section>
    
    <section id="dash_customer_search">
      <div id="search_box_wrapper">
        <%= form_tag(customer_json_search_path, :id => "customer_json_search_form") do %>
          <input id="dash_search_box" type="text" size="19" placeholder="Search" maxlength="40" name="name" autocomplete="off"/>
        <% end %>
        <div id="customer_dropdown_wrapper"><ul id="customer_dropdown"></ul></div>
      </div>
      <div id="search_customer_info_wrapper">
        <p id="search_customer_name"></p>
        <p id="search_customer_level"></p>
        <p id="search_customer_status"></p>
        <img src="/images/cancel_icon.png" width="32" height="32" alt="Angry face" />
      </div>
    </section>
  </section>
</section>