<section id="content">
  <section id="dash_buttons">
    <ul>
      <% @beds.each do |bed| %>
        <% number = bed.bed_number %>
    	  <li id="_<%= number %>" data-bed-loading="0">
    		  <%= link_to("#", "data-bed" => number, "data-maxtime" => bed.max_time, "data-bed-level" => bed.level, "data-session-over" => bed.session_over?) do %>
    		    <span><%= number %></span>
    		    <span class="countdown"></span>
    		    <span class="bed_loading"></span>
    		    <span class="level_and_status">Level <%= bed.level %></span>
    		  <% end %>
    	  </li>
    	<% end %>
    </ul>
  </section>
  <section id="dash_controls">
    <section id="dash_bed_controls">
      <div id="dash_controls_wrapper">
        <%= form_for(@tan_session, :url => salon_customer_tan_sessions_path(@current_salon),
          :html => {"data-login-url" => salon_customer_login_path} ) do |f|%>
          <%= f.hidden_field(:bed) %>
          <div id="dash_minutes">
            <a id="dash_up_arrow" href="#"></a>
            <p>
              <%= f.text_field(:minutes, :size => 2, :maxlength => 2, :value => 2) %>
            </p>
            <a id="dash_down_arrow" href="#"></a>
          </div>
          <div id="dash_start">
            <h2>
              Room
              <span></span>
            </h2>
            <form>
              <div id="customer_info">
                <p id="bed_level">Level 3 Bed</p>
                <p id="max_time">Max Time 15 Minutes</p>
              </div>
              <div id="start_button_wrapper">
                <p id="start_button">Start Session</p>
              </div>
            </form>
          </div>
      <% end %>
      </div>
      <p id="please">Please Select an Available Bed</p>
      <p id="post_active">Bed 15 Will Activate in 6 Minutes</p>
    </section>
    
    <section id="customer_notes">
      <div id="notebox">
        <p id="customer_first_name"><%= @customer.first_name + " " + @customer.last_name %></p>
        <p id="bottom_level" data-customer-level="<%= @customer.level %>">Level <%= @customer.level.to_s + ", " + type_and_details_for(@customer)%></p>
      </div>
    </section>
  </section>
</section>