<%= form_for([@current_salon, @user]) do |f| %>
  <div id="employee_left">
    <%= f.text_field(:first_name, :size => 19, :maxlength => 40, :placeholder => "First Name") %>
    <%= f.text_field(:last_name, :size => 19, :maxlength => 40, :placeholder => "Last Name") %> 
    <%= f.password_field(:password, :size => 19, :maxlength => 20, :placeholder => "Password") %>
    <%= f.password_field(:password_confirmation, :size => 19, :maxlength => 20, :placeholder => "Confirm Password") %> 
  </div>

  <div id="employee_right"> 
    <div id="employee_dropdowns"> 
      <p>
        <label>Employee's Security Level</label>  
        <select> 
          <option>Employee</option> 
          <option>Manager</option>
          <option>Owner</option> 
        </select> 
      </p>
      <p>
        <label>Employee's Salon Location</label>  
        <select> 
          <option>Douglas</option> 
          <option>Marietta</option>
          <option>Paulding</option> 
        </select>
      </p>
      <p>
        <label for="all_salons">Employee can work at all Salons?</label>
        <input type="checkbox" class="styled" id="all_salons"> 
      </p>
    </div>
    <%= employee_form_submit_button %>
    
    <%= employee_cancel_changes_link %>

    <%= employee_error_handler %>
  </div>
<% end %>