<%= form_for([@current_salon, @user]) do |f| %>
  <div id="employee_left">
    <%= f.text_field(:first_name, :size => 19, :maxlength => 40, :placeholder => "First Name") %>
    <%= f.text_field(:last_name, :size => 19, :maxlength => 40, :placeholder => "Last Name") %> 
    <%= f.password_field(:password, :size => 19, :maxlength => 20, :placeholder => "Password") %>
    <%= f.password_field(:password_confirmation, :size => 19, :maxlength => 20, :placeholder => "Confirm Password") %> 
  </div>

  <div id="employee_right"> 
    <div id="employee_dropdowns"> 
      <p>
        <%= f.label(:security_level) %>  
        <%= f.select(:security_level, {"Employee" => 1, "Manager" => 2, "Owner" => 3}, {})%>
      </p>
      <p>
        <%= f.label(:access_all_locations, "Employee can work at all Salons?")%>
        <%= f.check_box(:access_all_locations)%>
      </p>
    </div>
    <%= employee_form_submit_button %>
    
    <%= employee_cancel_changes_link %>

    <%= employee_error_handler %>
  </div>
<% end %>