<div id="user_tab_wrapper">
  <div id="employee_list_tab">
    <h2>
      <%= link_to "Employee List", salon_users_path(@current_salon) %>
    </h2>
  </div>
  <div id="new_employee_tab">
    <h2>
      <%= link_to "New Employee", new_salon_user_path(@current_salon) %>
    </h2>
  </div>
</div>

<div id="employee_content_wrapper">  
  <div id="employee_left"> 
    <h3><%= @user.first_name + " " + @user.last_name %></h3> 

    <h4><%= @user.login %></h4> 
    <h4>Owner</h4> 
    <br />
    <% if @user.access_all_locations? %>
      <h5>This Employee can Work at all Salons</h5> 
    <% end %>
    <br /> 
  
  </div>

  <div id="employee_right">
    <div id="edit_link_wrapper">
      <%= link_to "Edit this Employee", edit_salon_user_path(@current_salon, @user)%>
    </div>
  
    <%= button_to "Delete Employee", salon_user_path(@current_salon, @user),
                                     :method => :delete, :id => "delete_employee_button",
                                     :confirm => "are you sure you want to delete this user?" %>
  </div>
</div>