<table>
  <% for customer in @customers %>
    <tr class ="customer_info">
      <td class="name">
        <%= link_to customer.first_name + " " + customer.last_name, [@current_salon, customer] %>
      </td>
      <td class="phone_number"><%= phone_number(customer.phone_number) %></td>
      <td class="type"><%= customer.word_for_type %>, level <%= customer.level %></td>
      <td class="details"><%= customer_details(customer) %></td>
    </tr> 
  <% end %>
</table>