<%= form_for([@current_salon, @customer]) do |f| %>
  <div id="content_left">
    <div id="admin_form_fields">
      <%= f.text_field(:first_name, :size => 19, :maxlength => 40, :placeholder => "First Name") %>
      <%= f.text_field(:last_name, :size => 19, :maxlength => 40, :placeholder => "Last Name") %>
      <%= f.text_field(:phone_number, :size => 19, :maxlength => 12, :placeholder => "Phone Number") %>
      <%= f.text_field(:customer_number, :size => 19, :maxlength => 10, :placeholder => "Keyfob Number (optional)") %>
      <%= f.text_field(:email, :size => 19, :maxlength => 50, :placeholder => "Email (optional)") %>
    </div>
    <%= f.text_area(:address, :cols => 19, :rows => 3, :placeholder => "Address")%>
    <%= f.text_field(:city, :size => 15, :maxlength => 28, :class => "admin_short_form_field", :placeholder => "City")%>
    <%= f.text_field(:zip_code, :size => 5, :maxlength => 5, :class => "admin_short_form_field", :placeholder => "Zip")%>
    <%= f.text_field(:state, :size => 2, :maxlength => 2, :class => "admin_short_form_field", :id => "state_field",
      :placeholder => "State")%>
  </div>

  <div id="content_right">
    <div id="radio_button_wrapper">
      <p>
        <%= f.radio_button(:customer_type, 1, "data-slider-name" => "#recurring_slider") %>
        <%= f.label(:customer_type_1, "Recurring") %>
      </p>
      <p>
        <%= f.radio_button(:customer_type, 2, "data-slider-name" => "#per_month_slider") %>
        <%= f.label(:customer_type_2, "Per Month") %>
      </p>
      <p>
        <%= f.radio_button(:customer_type, 3, "data-slider-name" => "#package_slider") %>
        <%= f.label(:customer_type_3, "Package") %>
      </p>
      <p>  
        <%= f.radio_button(:customer_type, 4, "data-slider-name" => "#per_session_slider") %>
        <%= f.label(:customer_type_4, "Per Session") %>
      </p>
    </div>
  
    <div id="sliders" data-active-slider="#<%= @customer.word_for_type.parameterize("_") %>_slider">
      <div id="recurring_slider">
        <span>Level</span>  
        <%= f.select(:level, (1..5).to_a, {}, {:id => nil})%>
      </div>

      <div id="per_month_slider">
        <span>Level</span>  
        <%= f.select(:level, (1..5).to_a, {}, {:id => nil})%>
    
        <span>Paid Through</span>
        <%= f.date_select(:paid_through, :order => [:month, :day, :year], :start_year => (Time.zone.now.year))%>
      </div>
  
      <div id="package_slider">
        <span>Level</span>  
        <%= f.select(:level, (1..5).to_a, {}, {:id => nil})%>
    
        <span>Sessions Paid for</span>
        <%= f.text_field(:sessions_left, :size => 3, :maxlength => 3) %>
      </div>
  
      <div id="per_session_slider">
        <span>Level</span>  
        <%= f.select(:level, (1..5).to_a, {}, {:id => nil})%>
      </div>
    </div>
    <%= customer_form_submit_button %>
  </div>
<% end %>