<!DOCTYPE html>
<html>
<head>
  <title>Toasty</title> 
  <%= stylesheet_link_tag "site.css", "dashboard.css", "customer_dashboard.css" %>
  <%= javascript_include_tag "jquery-1.4.4.min.js", "jquery.rails.js", "jquery.mousehold.js", "customer_dashboard.js" %>
  <%= csrf_meta_tag %>
  <% if @current_salon %>
    <meta name="tmax-ip" content="<%= @current_salon.static_ip %>">
  <% end %>
</head>
<body id="customer_dashboard">
   <header>
      <a id="logo" href="#">toasty</a>

      <div id="bed_activated"><p></p></div>
    </header>

<%= yield %>

  <footer>
    <p>Copyright &copy;, 2010 Toasty, LLC</p>
  </footer>
</body>
</html>
